// configuration to run enformer


profiles {

    local {
        process.executor = 'local'
    }

    standard {
      process {
        container = 'file:////users/cn/lsantus/containers/singularity/tfcpu.sif'
        queue = 'short-sl7'
        memory = "15GB"
        singularity.enabled = true
      }
    }

}
