params{
    
    // Input files
    metadata_sheet = "${params.metadata}/atac_metadata.tsv"
    test_genes = "${params.gene_lists}/dgd_Hsa_all_v71.genes"
    assembly = "${params.assemblies}/human/GRCh38/GRCh38.primary_assembly.genome.fa"
    annotation_gtf = "${params.annotations}/human/gencode_v29/gencode.v29.annotation.gtf"
    annotation_bed = "${params.annotations}/human/gencode_v29/gencode.v29.annotation.bed"
    
    enrichment = "${params.outdir}/enrichment"

    // Select data to process 
    Assay_title = "ATAC-seq"
    bisample_organism = "Homo sapiens"
    biosample_classification = "tissue"


    // Track bed 
    track_bed = "${params.outdir}/Liver_example/ENCFF106WBX.bed"
    
    // modes
    enrich_mode = "binary" //continous,binary
    binary_intersection_min = 0.50

}